apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-sropyiss
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-sropyiss:fa8cf01da47393e7e789491cb24487b2c8ece7ab@sha256:ca41b1f97ef8ccff45b48d786b032c6f19de3e76db94bebbf50962bd48bb59e6
          name: container-image
